doctype transitional
//
//
  A Design by W3layouts
  Author: W3layout
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
html
  head
    title
      | EB buy & sell
    link(href='/stylesheets/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/javascripts/jquery.min.js')
    // Custom Theme files
    // theme-style
    link(href='/stylesheets/cssnew.css', rel='stylesheet', type='text/css', media='all')
    // //theme-style
    link(href='/stylesheets/table.css', rel='stylesheet', type='text/css', media='all')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='Sport Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, \
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    // fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', rel='stylesheet', type='text/css')
    // //fonts
  body
    // header
    .line
    .header
      .logo
        img(src='/images/logo2.png', alt='')
      .header-top
        .header-grid
          ul.header-in
            li
              a(href='/userprofile') My Account   
          .search-box
            #sb-search.sb-search
              form(action='', method='', onsubmit='getSearch()')
                input#search.sb-search-input(placeholder='Enter your search term...', type='search', name='search')
                input.sb-search-submit(type='submit', value='')
                span.sb-icon-search  
          // search-scripts
          script(src='/javascripts/classie.js')
          script(src='/javascripts/uisearch.js')
          script.
            new UISearch( document.getElementById( 'sb-search' ) );
          // //search-scripts
          .online
            ENGINEERING BOOKS 
          .clearfix  
        .header-bottom
          .h_menu4
            // start h_menu4
            a.toggleMenu(href='#') Menu
            ul.nav
              li.active
                a(href='/bookslist') Home
              li
                a(href='/books') Sell
              li
                a(href='/contact') Contact
              li
                a(href='/auth/logout') Logout
            script(type='text/javascript', src='/javascripts/nav.js')
          // end h_menu4
          .clearfix 
      .clearfix  
    // 
    .content
      .sport-your
        // requried-jsfiles-for owl
        link(href='/stylesheets/owl.carousel.css', rel='stylesheet')
        script(src='/javascripts/owl.carousel.js')
        script.
          $(document).ready(function() {
          $("#owl-demo").owlCarousel({
          items : 5,
          lazyLoad : true,
          autoPlay : true,
          navigation : true,
          navigationText :  true,
          pagination : false,
          });
          });
        // //requried-jsfiles-for owl
        .line2
    block content
    br
    br
    .wrapper.col2
      #container.clear
        // #######################################################################################################
        #content
          #demo
          .table-title
            h1 Full Details of the Book
              table.table-fill
                thead
                tbody(style = 'font-size: 50%')
                tbody.table-hover
                  tr
                    center
                      img(src='#{list.image}', style="width:220px; height: 300px")
                  tr
                    td Book Title: 
                    td #{list.title}
                  tr
                    td Author: 
                    td #{list.author}
                  tr
                    td Publication Date: 
                    td #{list.pub_date}
                  tr
                    td Edition: 
                    td #{list.edition}
                  tr
                    td Category: 
                    td #{list.category}
                  tr
                    td Price of the Book: 
                    td #{list.price}
                  tr
                    td Uploader Name: 
                    td #{list.uploader_name}
                  tr 
                    td Contact Number of the Uploader: 
                    td #{list.contact}
                  tr
                    td Email of the Uploader: 
                    td #{list.email}
                  tr
                    td Date Updated: 
                    td #{list.updated}
            br
            br
      // #######################################################################################################
    // #######################################################################################################

    // footer
    center
      .footer 
        .letter
          p.footer-class
            | © 2017 Engineering Books Buy & Sell All Rights Reserved | Created by  
            a(href='http://coen3463-m1t8.herokuapp.com/', target='_blank') Jocelle L. Tanqui-on & Jobelle San Juan
      .clearfix  
 Scripts
    script(src='/javascripts/script.js')
